<mat-sidenav-container class="sidenav-container">
  <mat-sidenav [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false"
               #drawer
               class="sidenav"
               fixedInViewport>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <!-- <a mat-list-item (click)="drawer.toggle()" routerLink="/main">Main</a> -->
      <a (click)="goTo('/main', drawer)" mat-list-item>Main</a>
      <a (click)="goTo('/blog', drawer)" mat-list-item>Blog</a>
      <a (click)="goTo('/x', drawer)" mat-list-item>X page</a>
      <a (click)="goTo('/dev', drawer)" mat-list-item>Dev</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!-- *ngIf="isHandset$ | async" -->
      <button (click)="drawer.toggle()"
              aria-label="Toggle sidenav"
              mat-icon-button
              type="button">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>Yak Root</span>
      <span class="example-spacer"></span>
      <button aria-label="Example icon-button with heart icon"
              class="example-icon favorite-icon"
              mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
      <button aria-label="Example icon-button with share icon"
              class="example-icon"
              mat-icon-button>
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
